@font-face {
  font-family: '#{$icon-font-name}';
  src: url("#{$icon-font-path}#{$icon-font-name}.eot");
  src: url("#{$icon-font-path}#{$icon-font-name}.eot?#iefix") format("embedded-opentype"),
  url("#{$icon-font-path}#{$icon-font-name}.woff2") format("woff2"),
  url("#{$icon-font-path}#{$icon-font-name}.woff") format("woff"),
  url("#{$icon-font-path}#{$icon-font-name}.ttf") format("truetype"),
  url("#{$icon-font-path}#{$icon-font-name}.svg#icons") format("svg");
  font-style: normal;
  font-weight: 400;
}
