@import "../webfont/webfont";

%icon {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font: normal normal 400 14px/1 "#{$icon-font-name}";
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin icon-styles($icon) {
  @extend %icon;
  content: $icon;
}

@mixin icon($icon, $insert: before) {
  &:#{$insert} {
    @include icon-styles($icon);
  }
}
