<aside class="details" [class.details--opened]="opened">
  <button class="details__close" (click)="close()"></button>
  <header class="details__header">Mehr Informationen:</header>
  <div class="details__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, cupiditate dolores, doloribus earum error est
    et incidunt inventore molestias obcaecati porro quia quis rerum ullam voluptas. Est in reprehenderit voluptas.
    Ad alias aliquid amet animi, consectetur delectus dolore dolores eveniet, ipsa iste laboriosam magnam
    maiores, molestiae mollitia nostrum odio quidem quis ratione recusandae rerum sequi sit temporibus tenetur ut
    vitae?
    Consequuntur corporis culpa dolores eaque eligendi illo nobis, non nostrum placeat quaerat quasi quos ratione
    reiciendis reprehenderit, sed veritatis voluptates! Atque dolorum ducimus explicabo ipsam minus molestias pariatur
    velit vitae!
    Consequuntur corporis culpa dolores eaque eligendi illo nobis, non nostrum placeat quaerat quasi quos ratione
    reiciendis reprehenderit, sed veritatis voluptates! Atque dolorum ducimus explicabo ipsam minus molestias pariatur
    velit vitae!
  </div>
</aside>
